<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    </head>
    <body>
        <h1>Deleta funcionário</h1>
        <form onsubmit="deleteID()">
            <p>ID:<input id="id" type="number" name="_id" /></p>
            <p><button type="submit">Deletar</button></p>
        </form>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script>
        function deleteID(){
            axios.delete('http://localhost:4321/auth/deleteID', {
                param: {
                    _id: document.getElementById('id').value
                }
            })
            .then(response => {
                alert("Funcionário deletado")
            })
            .catch(error => {
                alert("Erro ao deletar funcionário")
                console.log(error)
            })
        }
    </script>
</html>