<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Home Page</title>
        <link rel="stylesheet" type="text/css" href="home.css">
    </head>
    <body>
        <header>
            <h1>Pagina de administração de funcionário</h1>
            <h2>Escolha as opções abaixo</h2>
        </header>
        <div id="link"><a href="./register.html">Cadastrar</a></div>
        <div id="link"><a href="./employees.html">Listar</a></div>
        <div id="link"><a href="./deleteID.html">Deletar um funcionário</a></div>
    </body>
</html>
